* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: .13rem;
}

button {
  border: none;
}

input {
  outline: none;
}

.btn {
  color: #fff;
  &.btn-primary {
    background: #337ab7;
  }
  &.btn-warning {
    background: #f0ad4e;
  }
  &.btn-danger {
    background: #d9534f;
  }
}